## Settings file was created by plugin Zero Parades Language Toggle v1.0.0
## Plugin GUID: zp.langtoggle

[General]

## Hotkey to toggle language. Use any Unity KeyCode name (Semicolon, BackQuote, F8, L, ...).
## Full list: https://docs.unity3d.com/ScriptReference/KeyCode.html
ToggleKey = Semicolon

## First language. Game ships with 5: en, zh_cn, de, ru, es_mx.
LanguageA = en

## Second language. Same format as LanguageA.
LanguageB = zh_cn

## Whether to write a line to the BepInEx log every time the language switches.
ShowNotification = true
